Flask==2.0.1
marshmallow==3.12.2
PyJWT==1.7.1
alembic~=1.7.4
Flask-Migrate==3.1.0
Flask-JWT-Extended==3.24.1
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
iniconfig==1.1.1
Flask-Cors==3.0.10
Jinja2==3.0.1
Werkzeug==2.0.1
itsdangerous==2.0.1
greenlet==1.1.0
colorama==0.4.4
blinker==1.4
six==1.16.0
zipp==3.5.0
click==8.0.1
importlib-metadata==4.6.1
typing-extensions==3.10.0.0
apscheduler~=3.6.3
urllib3==1.26.7
